
<!doctype html> 
<html lang="en"> 
  
<head> 
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Index</title> 
</head> 
  
<body>
    <div class="row"> 
        <div class="col-md-4"></div> 
        <div class="col-md-4"> 
            <form action="{{ url_for('read_form')}}" method="post"> 
                <label for="age" class="form-label">Age</label>
                <input name="userAge" class="form-control" id="age"> 
                <label for="gender" class="form-label">Gender</label>
                <input name="userGender" class="form-control" id="Gender">
                <label for="occupation" class="form-label">Occupation</label>
                <input name="userOccupation" class="form-control" id="Occupation">
                <label for="travelClass" class="form-label">Travel Class</label>
                <input name="userTarvelClass" class="form-control" id="TarvelClass">
                <label for="destination" class="form-label">Destination</label>
                <input name="userDestination" class="form-control" id="Destination">
                <label for="Distance" class="form-label">Distance</label>
                <input name="userDistance" class="form-control" id="Distance">
                <label for="Duration" class="form-label">Duration</label>
                <input name="userDuration" class="form-control" id="Duration">
                <label for="Companion" class="form-label">Companion</label>
                <input name="userCompanion" class="form-control" id="Companion">
                <label for="Purpose" class="form-label">Purpose</label>
                <input name="userPurpose" class="form-control" id="Purpose">
                <label for="Transportation" class="form-label">Transportation</label>
                <input name="userTransportation" class="form-control" id="Transportation">
                <label for="Requests" class="form-label">Requests</label>
                <input name="userRequests" class="form-control" id="Requests">
                <label for="Loyalty" class="form-label">Loyalty</label>
                <input name="userLoyalty" class="form-control" id="Loyalty">
                <label for="Month" class="form-label">Month</label>
                <input name="userMonth" class="form-control" id="Month">
                <button type="submit" class="btn btn-primary">Submit</button> 
            </form> 
        </div> 
        <div class="col-md-4"></div> 
    </div> 
</body> 
</html>